.button {
    -fx-background-color:  #c10057; /* Degradado de color */
    -fx-text-fill: rgb(255, 255, 255); /* Color del texto blanco */
    -fx-font-family: "Arial"; /* Fuente Arial */
    -fx-font-size: 16px; /* Tamaño de fuente */
    -fx-font-weight: bold;
    -fx-min-width: 180px; /* Ancho mínimo del botón */
    -fx-min-height: 180px;
    -fx-background-radius: 13px;
    /* Sombra externa */
}

/* Estilos para el botón cuando es presionado */
.button:pressed {
    -fx-background-color: rgb(79, 79, 233); /* Cambia el color de fondo al presionar */
    -fx-text-fill: rgb(255, 255, 255);
}