.menu-button {
    -fx-background-color: #f3f3f3;
    -fx-text-fill: rgb(0, 0, 0);
    -fx-font-weight: bold;
    -fx-font-size: 10px; 
    -fx-padding: 2px 10px; 
    -fx-background-radius: 5px;
    -fx-background-radius: 13px;
}

.menu-button .arrow-button {
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 13px;
}

.menu-button:hover {
    -fx-background-color: #e0e0e0;
}

.menu-button:focused {
    -fx-background-color: #e0e0e0;
}

.menu-button:pressed {
    -fx-background-color: #b1b0b0;
}

.menu-button .menu-item {
    -fx-background-color: #f3f3f3;
    -fx-background-radius: 13px;
    -fx-text-fill: rgb(0, 0, 0); 

    -fx-font-size: 10px; 
}

.menu-button .menu-item:hover {
    -fx-background-color: #e0e0e0;
}

