/* Estilos para el botón azul */
.button {
    -fx-background-color: #7b7b7b; /* Color de fondo azul */
    -fx-text-fill: white; /* Color del texto blanco */
    -fx-font-family: "Arial"; /* Fuente Arial */
    -fx-font-size: 12px; /* Tamaño de fuente */
    /* -fx-padding: 8px 16px; Espaciado interno del botón */
    -fx-background-radius: 5px; /* Bordes redondeados */
    -fx-border-color: transparent; /* Color del borde transparente */
    -fx-min-width: 26px; /* Ancho mínimo del botón */
    -fx-min-height: 26px;
}
